/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// font family
$font-family-sans-serif: 'Montserrat', Arial, sans-serif !default;


$theme-yellow: #cca43b;
$theme-grey: #666666;
$theme-white: #e5e5e5;
$theme-blue: #003049;
$theme-black: #000000;


$body-bg: $theme-white;
$link-color: $theme-blue;
$code-color: $theme-blue;
$body-color: $theme-blue;

/*-- scss:rules --*/


.pencil-title {
  &:is(.slide-background) {
    background-image: url('../../../../../assets/title.jpeg');
    background-size: cover;
  }

  h2 {
    text-align: right;
    font-size: 4em;
  }
  h3 {
    text-align: right;
    font-size: 2em;
    margin-top: 600px;
  }
}

.reveal .footer {
  color: $theme-black;
  font-family: $font-family-sans-serif;
  padding-bottom: 30px;
}

.reveal .slide-logo {
  right: 30px;
  padding-right: 20px !important;
  padding-bottom: 30px !important;
  max-height: 60px !important;
  z-index: 1;
}

.reveal .slide-menu-button {
    left: 5px;
    top: 15px;
    padding-left: 10px;
    color: $theme-grey;
  }

.reveal .progress {
  background: $theme-grey;
  color: $theme-blue;
  height: 2%;
}

.right {
  text-align: right !important
}

.center {
  text-align: center !important
}
